# misc
.DS_Store
*.pem
jwks.json
*.jwks.json

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# sveltekit
/.svelte-kit
/package

# production
/build

# serverless function
/functions

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log

# local env files
.env
