KRATOS_BROWSER_URL=http://localhost:3000
KRATOS_PUBLIC_URL=http://localhost:4433
KRATOS_ADMIN_URL=http://kratos:4434

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DSN=

SERVE_PUBLIC_BASE_URL=${KRATOS_PUBLIC_URL}
SERVE_PUBLIC_CORS_ALLOWED_ORIGINS=${KRATOS_BROWSER_URL}
SERVE_ADMIN_BASE_URL=${KRATOS_ADMIN_URL}
SELFSERVICE_FLOWS_ERROR_UI_URL=${KRATOS_BROWSER_URL}/error
SELFSERVICE_FLOWS_SETTINGS_UI_URL=${KRATOS_BROWSER_URL}/settings
SELFSERVICE_FLOWS_RECOVERY_UI_URL=${KRATOS_BROWSER_URL}/recovery
SELFSERVICE_FLOWS_VERIFICATION_UI_URL=${KRATOS_BROWSER_URL}/auth/verification
SELFSERVICE_FLOWS_VERIFICATION_AFTER_DEFAULT_BROWSER_RETURN_URL=${KRATOS_BROWSER_URL}
SELFSERVICE_FLOWS_LOGOUT_AFTER_DEFAULT_BROWSER_RETURN_URL=${KRATOS_BROWSER_URL}/auth/login
SELFSERVICE_FLOWS_LOGIN_UI_URL=${KRATOS_BROWSER_URL}/auth/login
SELFSERVICE_FLOWS_REGISTRATION_UI_URL=${KRATOS_BROWSER_URL}/auth/registration
SELFSERVICE_DEFAULT_BROWSER_RETURN_URL=${KRATOS_BROWSER_URL}
SELFSERVICE_WHITELISTED_RETURN_URLS=${KRATOS_BROWSER_URL}

SECRETS_DEFAULT=
SECRETS_COOKIE=

LOG_LEVEL=debug
LOG_FORMAT=text
LOG_LEAK_SENSITIVE_VALUES=true